<%=%>
<%= t('view.sample') %>
<%= search_form_for @search do |f| %>
  <p>
    <strong><%= f.label :title_cont, "search by title" %></strong>
    <%= f.text_field :title_cont %>
  </p>
  <p>
    <strong><%= f.label :status_cont, "search by status" %></strong>
    <%= f.text_field :status_cont %>
  </p>
  <%= f.submit "Search" %>
<% end %>
<h1>tasks</h1>
<button>
<%= link_to 'new task', new_task_path %>
</button>
<button>
  <%= link_to 'Sort by deadline', tasks_path(sort_deadline: 'true') %>
</button>

<button>
  <%= link_to 'Sort by Priority', tasks_path(sort_priority: 'true') %>
</button>
<% @tasks.each do |task| %>
  <p> 
    <strong>Title: </strong>
    <%= task.title %>
  </p>
  <p> 
    <strong>Status: </strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Content: </strong>
    <%= task.content %>
  </p>
  <p>
    <strong>Created at: </strong>
    <%= task.created_at %>
  </p>
  <p>
    <strong>Start: </strong>
    <%= task.start_at %>
  </p>
  <p>
    <strong>End: </strong>
    <%= task.end_at %>
  </p>
  <button><%= link_to 'Show', task %></button>
  <button><%= link_to 'Edit', edit_task_path(task) %></button>
  <button><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <hr>
<% end %>