<%= t('view.sample') %>
<%= form_tag(tasks_path, method: :get) do %>
  <%= text_field_tag :search_task, params[:search_task] %>
  <%= submit_tag 'Search' %>
<% end %>
<h1>tasks</h1>
<%= link_to 'new task', new_task_path %>
<button>
  <%= link_to 'Sort by deadline', tasks_path(sort_deadline: 'true') %>
</button>
<% @tasks.each do |task| %>
  <p> 
    <strong>Title: </strong>
    <%= task.title %>
  </p>
  <p> 
    <strong>Status: </strong>
    <%= task.status %>
  </p>
  <p>
    <strong>Content: </strong>
    <%= task.content %>
  </p>
  <p>
    <strong>Created at: </strong>
    <%= task.created_at %>
  </p>
  <p>
    <strong>Start: </strong>
    <%= task.start_at %>
  </p>
  <p>
    <strong>End: </strong>
    <%= task.end_at %>
  </p>
  <button><%= link_to 'Show', task %></button>
  <button><%= link_to 'Edit', edit_task_path(task) %></button>
  <button><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <hr>
<% end %>