<p id="notice"><%= notice %></p>

<p>
  <strong>Your task:</strong>
  <%= @task.title %>
  <%= @task.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Start:</strong>
  <%= @task.start_at %>
</p>
<p>
  <strong>End:</strong>
  <%= @task.end_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>